---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { tursodb } from "../../astro.config.mjs";

const { rows } = await tursodb.execute("SELECT * FROM empresa;");
---

<Layout title="Empresa">
    <div class="structure">
        <Header />
        <div class="flex justify-between w-full px-5 py-2 h-fit">
            <h2>Listado de empresas</h2>
            <div class="flex items-stretch gap-4">
                <input
                    class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg p-1.5"
                    type="text"
                    placeholder="Nombre de la empresa"
                />
                <button
                    class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                    >Buscar</button
                >
                <button
                    id="btnnew"
                    class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                    >Nueva empresa</button
                >
            </div>
        </div>
        <main>
            <ul class="bg-slate-300 rounded-lg m-5">
                <li
                    class="flex gap-2 justify-around border-b-2 border-black border-solid"
                >
                    <div
                        class="flex gap-1 px-2 py-1 justify-between grow max-w-96"
                    >
                        <span>Nombre</span>
                        <span>Email</span>
                        <span>Teléfono</span>
                    </div>
                    <div></div>
                </li>
                {
                    rows.map((row) => (
                        <li
                            class="flex gap-2 justify-around px-2 py-1"
                            id={row.empresaId}
                        >
                            <div class="flex gap-1 justify-between grow max-w-96">
                                <span>{row.nombre}</span>
                                <span>{row.email_contacto}</span>
                                <span>{row.telefono_contacto}</span>
                            </div>
                            <div>
                                <button class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-1 py-1 transition-colors">
                                    Editar
                                </button>
                                <button class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-1 py-1 transition-colors">
                                    Info
                                </button>
                                <button class="bg-red-700 hover:bg-red-800 text-white rounded-lg text-xs px-1 py-1 transition-colors">
                                    Eliminar
                                </button>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </main>
        <Footer />
    </div>
</Layout>
<script>
    document.getElementById("btnnew").addEventListener("click", () => {
        window.location.href = "/nuevaempresa";
    });
</script>
