---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormElement from "../components/FormElement.astro";
---

<Layout title="Nueva empresa">
    <div class="structure">
        <Header />
        <div class="flex justify-between w-full px-5 py-2 h-fit">
            <h2>Nueva empresa</h2>
            <button
                id="btnback"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                >Volver</button
            >
        </div>
        <main>
            <form class="flex flex-col gap-4 m-5" id="formnew">
                <!-- //TODO -->
                <fieldset
                    class="border border-solid border-black p-2.5 flex gap-2 flex-wrap"
                >
                    <legend
                        class="ms-4 px-1.5 bg-[#476683] rounded-md text-white"
                        >Añade una nueva empresa</legend
                    >
                    <FormElement texto="nombre" placehold="Fepla-CRM" />
                    <FormElement texto="email" placehold="fepla@ieselpla.es" />
                    <FormElement texto="cif" placehold="B12345678" />
                    <FormElement texto="telefono" placehold="123456789" />
                    <FormElement
                        texto="disponibilidad"
                        placehold="Lunes a viernes"
                    />
                    <FormElement
                        texto="comentarios"
                        placehold="..."
                        type="textarea"
                    />
                </fieldset>
                <button
                    type="submit"
                    id="btnsubmit"
                    class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-xs px-2 py-2 transition-colors"
                    >Añadir nueva empresa</button
                >
            </form>
        </main>
        <Footer />
    </div>
</Layout>

<script>
    const form = document.querySelector("#formnew");
    const url = "http://localhost:4321/api/myapi";

    async function sendData(e) {
        e.preventDefault();
        const data = {
            nombre: form.nombre.value,
            email: form.email.value,
            cif: form.cif.value,
            telefono: form.telefono.value,
            disponibilidad: form.disponibilidad.value,
            comentarios: form.comentarios.value,
        };
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        if (response.ok) {
            alert("Empresa añadida");
            window.location.href = "/empresa";
        } else {
            alert("Error al añadir empresa");
        }
    }

    document.getElementById("btnsubmit").addEventListener("click", sendData);
</script>
