---
interface Props {
    admin?: boolean;
}

const { admin } = Astro.props;
/* <!-- TODO --> */
---

<div class="gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit">
    <h2 class="text-xl font-semibold mb-2">Contactos</h2>
</div>