/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos del contenedor de la tabla */
div {
    max-height: 68vh;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1em;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td {
    border-bottom: 1px solid #ddd;
}

/* Estilos para el encabezado y acciones */
thead th {
    font-weight: bold;
}

td:last-child {
    text-align: center;
}

/* Estilos de los botones y enlaces */
span {
    margin: 0 5px;
    color: #333;
}

a {
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}